---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    <div style="width:400px; margin:0 auto;">  
       <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=oArr-3iWscM_3fvIaVF2hQ1NVPBgA-lGIdWtvTDtyIM&cl=ffffff&w=a"></script>
    </div>  
	  
	  

    <div class="page__footer">
      <footer>
        
        {% include footer.html %}
      </footer>
    </div>



  </body>
</html>
